
.kaki{
	position: absolute;
	width: 100%;
	top:96.2%;
	background-color:black;
	height:15px;
	padding:5px;
}
.kaki a{
	color:white;
	text-decoration:none;
	
}
.login{
	font-family: Arial, Helvetica, sans-serif;
	float: right;
	position: relative;
	margin: 13px;
}
.login a{
	color: white;
	text-decoration: none;
}
.header-container{
	position: relative;
	height:auto;
	overflow: hidden;
	padding-right:27px;
	margin-left:25px;
}


.judul h1{
	float:left;
	width:75%;
	margin-top:40px;
	font-size:3rem;
	font-family: Arial, Helvetica, sans-serif;

}
.judul img{
	float:left;
	border-radius:400px;
	margin:20px
}
.navigasi{
	box-shadow: 1px 10px 20px #aaaaaa;
	background-color:blue;
	width:auto;
	height:40px;
	padding:0px;
	margin-top:128px;
	opacity:.8;
	font-family: Arial, Helvetica, sans-serif;
}

 ul{
	padding:0px;
	margin:0px;
	list-style:none;
}
 ul li{
	background-color:blue;
	float:left;
	width:200px;
	height:40px;
	line-height: 40px;
	text-align:center;
	font-size:20px;
}

ul li a{
	text-decoration: none;
	color: white;
	display: block;
}

 ul li a:hover{
	background-color:green;
}
 ul li ul li{
	display:none;
}
 ul li:hover ul li{
	opacity:.8;
	display:block;
}

.posisi h4{
	width:50px;
	height: 3%;
	background-color:#FFCC00;
	padding:3px;
	margin:0px;
	font-family: Arial, Helvetica, sans-serif;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}
.judulkonten{
	width:100%;
	text-align:center;
	color:black;
	font-size:30px;
}

.konten {
	margin: 10px;
	float: left;
	width:32%;
}

.konten img {
	box-shadow: 1px 10px 20px #aaaaaa;
	border-radius: 40px;
	width: 500px ;
	height: 300px;
	
}

.keterangankonten {
	padding: 20px;
	text-align: center;
	margin-block-end: 3em;
}

@media only screen and (max-width: 1575px) {
	.judul h1{
		font-size: 2rem;
	}
	.judul img {
		transition: 0.4s;
	}
	.header-container {
		padding-right:0px;
		margin-left:0px;
	}
	ul li {
		width:120px;
	}
	ul li a{
		font-size: 15px;
	}
	ul li ul li a {
		font-size: 10px;
	}

	.videobg h2 {
		font-size: 2rem;
		transform: translate(-50%, -50%)
	}
	.login {
		font-size: 15px;
	}
	.navigasi {
		width: 100%;
	}
	.posisi h4{
		width: 40px;
		font-size: 15px;
	}
	.judulkonten h3{
		float:left;
		width:100%;
		text-align: center;
		font-size: 20px;
	}
	.konten {
		width: 36%;
	}
	.konten img {
		width: 450px ;
		height: 250px;
		margin:20px;
	}
	.kaki{
		position: absolute;
		width: 100%;
		top:97%;
		background-color:black;
		height:15px;
		padding:10px;
		opacity:none;
		}
	.kaki a{
	color:white;
	text-decoration:none;
	font-size: 15px;
	
}
@media only screen and (min-width: 801px) {
	.judul h1{
		font-size: 2rem;
	}
	.judul img {
		transition: 0.4s;
	}
	.header-container {
		padding-right:0px;
		margin-left:0px;
	}
	ul li {
		width:120px;
	}
	ul li a{
		font-size: 15px;
	}
	ul li ul li a {
		font-size: 10px;
	}

	.videobg h2 {
		font-size: 2rem;
		transform: translate(-50%, -50%)
	}
	.login {
		font-size: 15px;
	}
	.navigasi {
		width: 100%;
	}
	.posisi h4{
		width: 40px;
		font-size: 15px;
	}
	.judulkonten h3{
		font-size: 20px;
	}
	.konten {
		width: 32%;
	}
	.konten img {
		width: 400px ;
		height: 200px;
		margin:20px;
	}
	.kaki{
		position: absolute;
		width: 100%;
		top:97%;
		background-color:black;
		height:15px;
		padding:10px;
		opacity:none;
		}
	.kaki a{
	color:white;
	text-decoration:none;
	font-size: 15px;
	
}
}

@media only screen and (max-width: 800px) {
	.judul h1{
		font-size: 2rem;
	}
	.judul img {
		transition: 0.4s;
	}
	.header-container {
		padding-right:0px;
		margin-left:0px;
	}
	ul li {
		width:120px;
	}
	ul li a{
		font-size: 15px;
	}
	ul li ul li a {
		font-size: 10px;
	}

	.videobg h2 {
		font-size: 2rem;
		transform: translate(-50%, -50%)
	}
	.login {
		font-size: 15px;
	}
	.navigasi {
		width: 100%;
	}
	.posisi h4{
		width: 40px;
		font-size: 15px;
	}
	.judulkonten h3{
		font-size: 20px;
	}
	.konten {
		width: 100%;
	}
	.konten img {
		width: 400px ;
		height: 200px;
		margin-left:15%;
	}
	.kaki{
		position: absolute;
		width: 100%;
		top:97%;
		background-color:black;
		height:15px;
		padding:10px;
		opacity:none;
		}
	.kaki a{
	color:white;
	text-decoration:none;
	font-size: 15px;
	}
}